@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  color: #666666;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

/******************************************************
common
******************************************************/
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px 0 40px;
  overflow: hidden;
}
@media (max-width: 960px) {
  .container {
    padding: 10px 0 10px;
  }
}
.container .section-title {
  margin: 40px 50px 80px;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  font-weight: 100;
  position: relative;
}
@media (max-width: 960px) {
  .container .section-title {
    margin: 40px 30px 35px;
  }
}
.container .section-title:after {
  position: absolute;
  top: 50%;
  border-top: 2px solid #666666;
  content: "";
  width: 50%;
  margin-left: 10px;
}
.container .wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/******************************************************
link
******************************************************/
.link {
  text-align: center;
  margin: 65px auto 50px;
  font-size: 2rem;
}
.link a {
  padding: 10px 30px;
  border-radius: 15px;
  border: #666666 1px solid;
  text-decoration: none;
  color: #666666;
}

/******************************************************
sp
******************************************************/
.sp {
  display: none;
}
@media (max-width: 675px) {
  .sp {
    display: block;
  }
}

.pc {
  display: block;
}
@media (max-width: 675px) {
  .pc {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 5px solid #a0522d;
}
.nav .nav-icon {
  display: flex;
}
.nav .nav-icon img {
  width: 33px;
  height: 33px;
  margin: 20px 10px;
}
.nav .nav-icon img a {
  font-size: 1.6rem;
  color: #333;
}

h1 {
  font-size: 4rem;
  color: #333;
  margin: 0;
}
@media (max-width: 675px) {
  h1 {
    margin: 20px 0;
  }
}

.nav_menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.nav_menu-list li {
  font-size: 1.6rem;
  margin: 0 20px;
}
.nav_menu-list li a {
  font-size: 1.8rem;
  color: #333;
}
.nav_menu-list img {
  width: 33px;
  height: 33px;
}

.sp-icon .nav-icon {
  display: flex;
  justify-content: center;
}
.sp-icon .nav-icon img {
  width: 33px;
  height: 33px;
  margin: 32px 15px 0;
}

/******************************************************
ハンバーガーメニュー
******************************************************/
nav {
  display: block;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: -300px;
  bottom: 0%;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}
nav .inner {
  padding: 10px 25px 25px;
  width: 100%;
  margin-top: 0%;
  height: 100%;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  margin: 30px auto;
  text-align: center;
}
nav .inner ul li a {
  display: block;
  width: 220px;
  text-decoration: none;
  color: #333;
  padding: 1rem;
  transition-duration: 0.2s;
  font-size: 4rem;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
@media (max-width: 675px) {
  nav .inner ul li a {
    font-size: 1.8rem;
  }
}
nav .inner ul li a:hover {
  background-color: #e4e4e4;
}

@media (max-width: 675px) {
  .open {
    left: 8%;
  }
}

.open nav {
  left: 0;
  opacity: 1;
  width: 80%;
}

.open .menu-flex {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.toggle-btn {
  display: block;
  position: fixed;
  top: 5%;
  right: 8%;
  width: 45px;
  height: 39px;
  z-index: 3;
  cursor: pointer;
  z-index: 9999;
  background: chocolate;
}
@media (max-width: 675px) {
  .toggle-btn {
    top: 3%;
    right: 8%;
  }
}
.toggle-btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
  border-radius: 4px;
}
.toggle-btn span:nth-child(1) {
  top: 11px;
  margin-left: 8px;
}
.toggle-btn span:nth-child(2) {
  top: 19px;
  margin-left: 8px;
}
.toggle-btn span:nth-child(3) {
  top: 27px;
  margin-left: 8px;
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open .toggle-btn span {
  background-color: #fff;
}

.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
  margin-left: 9px;
  width: 28px;
  margin-top: 0px;
  top: 9px;
}

.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
  margin-left: 7px;
  width: 28px;
  margin-top: 3px;
  top: 26px;
}

.open #mask {
  display: block;
  background-color: #666666;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  cursor: pointer;
}

/********************************************
Top
*********************************************/
#fv {
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 0;
  /* 背景白 */
}
#fv .fv-img img {
  position: absolute;
  width: 83%;
  height: 74%;
  -o-object-fit: cover;
  object-fit: cover;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
@media (max-width: 960px) {
  #fv .fv-img img {
    width: 85%;
    height: 65%;
    right: 0;
    top: 37%;
  }
}
@media (max-width: 675px) {
  #fv .fv-img img {
    top: 44%;
    height: 80%;
    width: 100%;
  }
}
@media (max-width: 450px) {
  #fv .fv-img img {
    top: 44%;
    height: 80%;
    width: 100%;
  }
}
#fv .white {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: #a0522d;
  z-index: -1;
}
@media (max-width: 960px) {
  #fv .white {
    width: 64%;
    height: 35%;
    top: 44%;
    left: 0%;
  }
}
@media (max-width: 450px) {
  #fv .white {
    width: 100%;
    height: 24%;
    left: 0%;
    top: 60%;
    transform: translate(0, 0);
  }
}

/********************************************
New
*********************************************/
.new-item {
  display: flex;
  margin-bottom: 80px;
}
@media (max-width: 960px) {
  .new-item {
    flex-direction: column;
  }
}
.new-item .new-item-img {
  width: 50%;
  position: relative;
  text-align: center;
}
@media (max-width: 960px) {
  .new-item .new-item-img {
    width: 80%;
    margin: 0 auto;
    order: 1;
    margin: 0 auto;
    width: 100%;
  }
}
.new-item .new-item-img:after {
  position: absolute;
  right: 7%;
  top: 2%;
  border-top: 2px solid #666666;
  content: "New";
  width: 27%;
  margin-left: 10px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
  border-top: white 8px solid;
  border-bottom: white 8px solid;
}
@media (max-width: 960px) {
  .new-item .new-item-img:after {
    right: 10%;
    top: 0%;
  }
}
.new-item .new-item-img1 {
  width: 55%;
  margin: 0 auto 0;
  border: 3px whitesmoke solid;
}
@media (max-width: 960px) {
  .new-item .new-item-img1 {
    margin: 0 auto;
    width: 40%;
  }
}
.new-item .new-item-img2 {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .new-item .new-item-img2 {
    width: 50%;
    margin: 0 auto;
  }
}
.new-item .new-item-txt {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .new-item .new-item-txt {
    order: 2;
    margin: 0 auto;
    width: 100%;
  }
}
.new-item .new-item-txt h4 {
  position: relative;
  text-align: center;
  font-size: 2.8rem;
  margin: 20px;
}
.new-item .new-item-txt .new-detail {
  width: 90%;
  margin: 0 0 0 auto;
  font-size: 1.8rem;
  line-height: 1.8;
  padding-right: 40px;
}
@media (max-width: 960px) {
  .new-item .new-item-txt .new-detail {
    margin: 0 auto;
    width: 85%;
    padding: 0;
  }
}
.new-item .new-item-txt .new-detail-price {
  text-align: end;
  margin-right: 20px;
  margin-bottom: 40px;
  font-size: 2rem;
}
.new-item .new-item-txt .new-detail-txt {
  font-size: 1.6rem;
}

/******************************************************
Topic
******************************************************/
.topic-item {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 55px;
  box-shadow: 10px 10px 10px 10px rgb(227, 227, 227);
}
@media (max-width: 960px) {
  .topic-item {
    flex-direction: column;
    box-shadow: none;
    margin-bottom: 90px;
    width: 100%;
  }
}
.topic-item-img {
  width: 20%;
  text-align: end;
}
@media (max-width: 960px) {
  .topic-item-img {
    width: 50%;
    margin: 0 auto;
  }
}
.topic-item-img img {
  height: 100%;
  border: whitesmoke 0.5px solid;
  border-right: 0px;
  width: 100%;
}
@media (max-width: 960px) {
  .topic-item-img img {
    box-shadow: 10px 10px 10px 10px rgb(227, 227, 227);
    width: 100%;
  }
}
.topic-item-txt {
  width: 80%;
  font-size: 1.8rem;
  display: table;
}
@media (max-width: 960px) {
  .topic-item-txt {
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
  }
}
.topic-item-txt p {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
@media (max-width: 960px) {
  .topic-item-txt p {
    padding: 0;
  }
}

/******************************************************
News
******************************************************/
.news-wrapper {
  border-top: 4px solid #edcba8;
  width: 60%;
  padding: 30px 0;
  border-bottom: 4px solid #edcba8;
  background-color: rgba(237, 203, 168, 0.6);
}
@media (max-width: 960px) {
  .news-wrapper {
    width: 80%;
  }
}
.news-wrapper .news-list {
  display: flex;
  font-size: 1.8rem;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  .news-wrapper .news-list {
    flex-direction: column;
    width: 90%;
  }
}
.news-wrapper .news-list p {
  margin-right: 20px;
}
.news-wrapper .news-list:last-child {
  margin-bottom: 0px;
}

/******************************************************
Goods
******************************************************/
.goods-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.goods-wrapper .goods-item {
  width: 30%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  .goods-wrapper .goods-item {
    margin-bottom: 40px;
  }
}
@media (max-width: 960px) {
  .goods-wrapper .goods-item:nth-child(7) {
    margin-bottom: 0px;
  }
}
@media (max-width: 960px) {
  .goods-wrapper .goods-item:nth-child(8) {
    margin-bottom: 0px;
  }
}
.goods-wrapper .goods-item-img {
  width: 80%;
  margin: 0 auto;
}
.goods-wrapper .goods-item-img img {
  border-radius: 15px;
  border: 1px solid whitesmoke;
}
.goods-wrapper .goods-item-txt {
  margin: 20px 0;
  text-align: center;
}
@media (max-width: 960px) {
  .goods-wrapper .goods-item-txt {
    font-size: 1.6rem;
  }
}
.goods-wrapper .goods-item-txt h5 {
  font-size: 1.6rem;
  font-weight: 100;
}

/******************************************************
Contact
******************************************************/
#contact {
  background-image: url(img/contact.jpg);
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
}
#contact form {
  font-size: 1.6rem;
  margin: 0 auto;
  width: 50%;
}
@media (max-width: 960px) {
  #contact form {
    width: 80%;
  }
}
#contact form input {
  border: whitesmoke 4px solid;
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255);
  background-blend-mode: lighten;
}
#contact form textarea {
  border: whitesmoke 4px solid;
  height: 300px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-blend-mode: lighten;
}
#contact form .btn {
  width: 35%;
  margin: 40px auto;
  text-align: center;
  display: block;
  font-size: 2rem;
  border-radius: 15px;
}

/******************************************************
Footer
******************************************************/
footer {
  background-color: #edcba8;
  width: 100%;
}
footer .sns-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .sns-icon li {
  margin: 0 10px;
}
footer .sns-icon li img {
  width: 40px;
  margin: 50px 0 20px;
  border: 1px whitesmoke solid;
  border-radius: 50%;
}
footer .copyright {
  text-align: center;
  padding: 5px 0 30px;
  font-size: 1.3rem;
}

/******************************************************
アニメーション
******************************************************/
.slider-left {
  opacity: 0;
  visibility: hidden;
  transform: translateX(150px);
  transition: opacity 2s, visibility 2s, transform 2s;
}

.slider-right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-150px);
  transition: opacity 2s, visibility 2s, transform 2s;
}

.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/******************************************************
Menu
******************************************************/
#menu {
  background-image: url(img/menu.jpg);
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  padding: 15px 0;
}
#menu .menu-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
}
@media (max-width: 960px) {
  #menu .menu-wrapper {
    flex-direction: column;
    width: 80%;
  }
}
#menu .menu-wrapper .menu-list {
  margin: 0 80px;
}
@media (max-width: 960px) {
  #menu .menu-wrapper .menu-list {
    margin: 0 0 80px;
  }
}
#menu .menu-wrapper .menu-list .menu-title {
  font-size: 3rem;
  font-weight: bold;
  display: block;
  text-align: center;
}
#menu th {
  font-size: 2.6rem;
  padding: 25px;
  text-align: center;
}
#menu td {
  font-size: 2.6rem;
  padding: 25px;
  text-align: center;
}
#menu tr {
  padding-bottom: 10px;
}

/******************************************************
Access
******************************************************/
.address {
  width: 80%;
  margin: 0 auto 40px;
}
.address p {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.map {
  width: 80%;
  margin: 0 auto 40px;
  text-align: center;
}
@media (max-width: 960px) {
  .map {
    width: 90%;
  }
}
@media (max-width: 960px) {
  .map iframe {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */